	</div> <!-- end .content -->
</div> <!-- end .content_wrap -->

<div class="sponsor-wrap pad-tb-140 relative" id="Sponsors">
	<div class="section">
		<ul class="sponsors-big">
			<li class="pad-tb-40">
				<a href="http://myfonts.com" target="_blank"><img src="<?php echo $imageURL ?>/s-mailchimp.png" alt="My Fonts" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://carbonads.net" target="_blank"><img src="<?php echo $imageURL ?>/s-flywheel.png" alt="Carbon Ads" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://foxypropaganda.com" target="_blank"><img src="<?php echo $imageURL ?>/s-invision.png" alt="Foxy Propganda" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://foxypropaganda.com" target="_blank"><img src="<?php echo $imageURL ?>/s-salesforce.png" alt="Foxy Propganda" /></a>
			</li>
			<div class="push"></div>
		</ul>
		<hr class="marg-b-40 white marg-t-40 divider" />
		<ul class="sponsors-small pad-b-140">
			<li class="pad-tb-40">
				<a href="http://myfonts.com" target="_blank"><img src="<?php echo $imageURL ?>/s-myfonts.png" alt="My Fonts" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://carbonads.net" target="_blank"><img src="<?php echo $imageURL ?>/s-carbon.png" alt="Carbon Ads" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://foxypropaganda.com" target="_blank"><img src="<?php echo $imageURL ?>/s-propaganda.png" alt="Foxy Propganda" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://smilebooth.com" target="_blank"><img src="<?php echo $imageURL ?>/s-smilebooth.png" alt="Smilebooth" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://www.scoutbooks.com" target="_blank"><img src="<?php echo $imageURL ?>/s-scoutbooks.png" alt="Scoutbooks" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://www.scoutbooks.com" target="_blank"><img src="<?php echo $imageURL ?>/s-deep.png" alt="Scoutbooks" /></a>
			</li>
			<li class="pad-tb-40">
				<a href="http://www.scoutbooks.com" target="_blank"><img src="<?php echo $imageURL ?>/s-scoutbooks.png" alt="Scoutbooks" /></a>
			</li>
			<li class="pad-tb-40 empty">
				<a href="https://circlesco.com/conference/sponsors" target="_blank"><img src="<?php echo $imageURL ?>/s-empty.png" alt="This Could Be You" /></a>
			</li>
			<div class="push"></div>
		</ul>
	</div>
	<div class="section no-sponsors pad-b-120 ta-center">
		<h2 class="titles">become a sponsor</h2>
		<p class="small-titles"><a href="#" target="_blank">download pdf</a> <span>/</span> <a href="#" target="_blank">get started</a></p>
	</div>
	<hr class="divider black" />
	<div class="section pad-t-140">
		<div class="partner-logos relative">
			<h2 class="small-titles rotate">Partners</h2>
			<a href="http://aigadfw.org" target="_blank"><img src="<?php echo $imageURL ?>/p-aiga.png" alt="AIGA DFW" /></a>
			<a href="http://printedthreads.com" target="_blank"><img src="<?php echo $imageURL ?>/p-printedthreads.png" alt="Printed Threads" /></a>
			<a href="http://foxypropaganda.com" target="_blank"><img src="<?php echo $imageURL ?>/p-foxy.png" alt="Foxy Propaganda" /></a>
			<a href="http://www.kindsnacks.com" target="_blank"><img src="<?php echo $imageURL ?>/p-kind.png" alt="KIND Healhty Snacks" /></a>
			<a href="http://okpaper.com" target="_blank"><img src="<?php echo $imageURL ?>/p-ok.png" alt="OLMSTED-KIRK PAPER" /></a>
			<div class="push"></div>
		</div>
	</div>
	<div class="square-border side-left white"></div>
</div>

<div class="update-wrap bg-white">
	<div class="section pad-tb-180">
		<div class="email-wrap left">
			<h2 class="titles">Stay Updated</h2>
			<div class="email relative">
				<div id="divEmail">
					<form action="http://circlescompany.createsend.com/t/j/s/mhdcu/" method="post" id="formEmail">
						<label for="email-signup" class="infieldlabel">email address</label>
						<input type="text" name="cm-mhdcu-mhdcu" id="email-signup" class="email-input" />
						<input type="submit" name="submit" value="join" class="email-button" />
					</form>
				</div>
				<div id="divEmailConfirmation">
					<h2>Thank You</h2>
				</div>
			</div>
			<div class="push"></div> 
		</div>
		<div class="or left">
			<h2 class="titles ta-center">or</h2>
		</div>
		<a href="<?php echo $registrationURL ?>" target="_blank" class="button bs">Register Today</a>
		<div class="push"></div>
	</div>	
</div>

<div class="bottom">
	<div class="section relative">
		<div class="circles-logo"><img src="<?php echo $imageURL ?>/logo-squares-small.png" alt="Squares" /></div>
		<hr class="marg-b-80 marg-t-80 divider" />
		<ul class="footer-meta">
			<li>April 26-28, 2017</li>
			<li class="middle"><span>Grapevine, TX</span></li>
			<li><a href="<?php echo $registrationURL ?>" target="_blank">Register Today</a></li>
		</ul>
		<div class="circles-half"><img src="<?php echo $imageURL ?>/squares-half.png" alt="Squares" /></div>
	</div>
</div>
<div class="footer">
	<p class="copyright">&copy; Copyright <?php echo date('Y'); ?> <?php echo $companyName ?>. All rights reserved. <a href="/refund-policy" target="_blank">Refund Policy</a>&nbsp;/&nbsp;<a href="/conduct" target="_blank">Code of Conduct</a>&nbsp;/&nbsp;<a href="mailto:hello@squaresconference.com" target="_blank">Contact Us</a></p>
	<p class="copyright right">Designed by Ismael Burciaga of <a href="http://reblventures.com" target="_blank">REBL</a></p>
	<div class="push"></div>
</div>

<div class="menu-wrapper pad-20" id="menuOverlay">
	<div class="menu-wrapper-2">
		<div class="menu-wrap">
			<h2 class="title-menu">Menu</h2>
			<div class="menu-content">
				<ul class="right">
					<li><a href="<?php echo $siteURL ?>" class="menuLink">Home</a></li>
					<li><a href="<?php echo $siteURL ?>/speakers.php" class="menuLink">Speakers</a></li>
					<li><a href="<?php echo $siteURL ?>/workshops.php" class="menuLink">Workshops</a></li>
					<li><a href="<?php echo $siteURL ?>/venue.php" class="menuLink">Venue</a></li>
					<li><a href="<?php echo $siteURL ?>/schedule.php" class="menuLink">Schedule</a></li>
					<li><a href="<?php echo $siteURL ?>/about.php" class="menuLink">About</a></li>
					<li><a href="#Sponsors" class="anchorLink menuLink">Sponsors</a></li>
				</ul>
				<div class="left">
					<p>Squares is a three-day experience for you, the maker. The conference brings designers and makers from across the globe together for the dual purpose of learning from world-changing thinkers and innovators and connecting with one another.</p>
					<a href="<?php echo $registrationURL ?>" target="_blank" class="button">REGISTER</a>
					<div class="social-menu">
						<h2 class="titles serif">Follow Us</h2>
						<div class="social-menu-icons">
							<a href="http://twitter.com/squaressconf" target="_blank"><img src="<?php echo $imageURL ?>/menu-t.png" alt="Twitter" /></a>
							<a href="http://facebook.com/squaresconference" target="_blank"><img src="<?php echo $imageURL ?>/menu-fb.png" alt="Facebook" /></a>
							<a href="http://instagram.com/squaresconf" target="_blank" class="last"><img src="<?php echo $imageURL ?>/menu-i.png" alt="Instagram" /></a>
						</div>
					</div>
				</div>
				<div class="push"></div>
			</div>
		</div>
	</div>
</div>

</body> 
</html>