<!DOCTYPE html>
<html lang="en"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>{{ page.SEO.Title }}</title> 

		<meta name="description" content="{{ page.SEO.Description }}" /> 
		<meta name="keywords" content="{{ page.SEO.Keywords}}" />
		<meta name="viewport" content="width=device-width; initial-scale=1">

		<meta property="og:title" content="{{ page.SEO.Title }}>" />
		<meta property="og:description" content="{{ page.SEO.Description }}" />
		<meta property="og:url" content="{{ site.url }}" />
		<meta property="og:image" content="assets/images/facebook_icon.png" />

		<link rel="stylesheet" href="assets/css/screen.css" media="screen" type="text/css" /> 
		<link rel="stylesheet" href="assets/css/magnific-popus.css" media="screen" type="text/css" /> 

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
		<link rel="apple-touch-icon-precomposed" href="ipad_icon.png" />

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/anchor.js""></script>
		<script type="text/javascript" src="assets/js/infieldlabel.js""></script>
		<script type="text/javascript" src="assets/js/bootstrap.scrollspy.js""></script>
		<script type="text/javascript" src="assets/js/waypoint.js""></script>
		<script type="text/javascript" src="assets/js/jquery.magnific-popup.js""></script> 
		<script type="text/javascript" src="assets/js/emails-and-forms.js""></script>

		<script src="https://use.typekit.net/yde4jdg.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head> 
 
<body class="{{ page['Body Class'] }}">

<a href="javascript: void(0);" id="btnMenu">
	<div id="nav-icon4">
		<span></span>
		<span></span>
		<span></span>
	</div>
</a>

<div class="fixed-register">
	<a href="{{ site[ 'Registration URL' ] }}">register</a>
</div>

<div id="divTop" class="header_wrap relative bg-image" 
	{% if page['Hero Image'] %}
	style="background-image: url({{ page['Hero Image'] }})"
	{% endif %}>
	<div class="header">
		<h3 class="hero-date rotate-right small-titles">April 26-28, 2017</h3>
		<h3 class="hero-location rotate-right small-titles">Grapevine, TX</h3>
		{% if page['Hero Text'] %}
		<div class="squares-page">
				<div class="squares-empty"></div>
				<div class="squares-container">
					<h2 class="page-name">{{ page['Hero Text'] }}</h2>
				</div>
		</div>
		{% endif %}
		<div class="register-wrap">
			<h5 class="pad-l-80">Be Square. Register today.</h5>
			<a href="{{ site['Registration URL'] }}" class="button-register"><img src="{{ site.url }}/assets/images/black-arrow.svg" alt="Register Today" /></a>
			<div class="push"></div>
		</div>
		<h6>Photo by Cory Hale</h6>
	</div>
	<div class="squares-logo">
			<div class="squares-empty"></div>
			<div class="squares-container">
					<a href="{{ site.url }}"><img src="{{ site.url }}/assets/images/logo-squares.png" alt="{{ site.title }}" /></a>
			</div>
	</div>
	<div class="red-border">
		{% if page['Hero Home Text'] %}
			<h4><{{ page['Hero Home Text'] }}</h4>
		{% endif %}
		<div class="squares-empty"></div>
		<div class="squares-container">
		</div>
	</div>
	<div class="push"></div>
	<a href="#divArrow" class="anchorLink btn-arrow"><img src="{{ site.url }}/assets/images/btn-arrow.png" alt="View More" /></a>
</div>
<div class="content_wrap" id="divArrow">
	<div class="content">