---
layout: default
---

<div class="home-speakers-wrap pad-tb-180 relative">
	<div class="section home-speakers page-speakers relative">
		<h2 class="small-titles red rotate">Speakers</h2>
		<div class="panel speaker-panel big">
			<div class="speaker-image relative">
				<div class="speaker-links">
					<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
					<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
				</div>
				<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
			</div>
			<h2>Ismael Burciaga</h2>
			<h3>director of ux at Nasdaq</h3>
		</div>
		<div class="panel speaker-panel second">
			<div class="speaker-image relative">
				<div class="speaker-links">
					<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
					<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
				</div>
				<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
			</div>
			<h2>Ismael Burciaga</h2>
			<h3>director of ux at Nasdaq</h3>
		</div>
		<div class="panel speaker-panel last">
			<div class="speaker-image relative">
				<div class="speaker-links">
					<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
					<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
				</div>
				<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
			</div>
			<h2>Ismael Burciaga</h2>
			<h3>director of ux at Nasdaq</h3>
		</div>
		<div class="panel speaker-panel">
			<div class="speaker-image relative">
				<div class="speaker-links">
					<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
					<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
				</div>
				<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
			</div>
			<h2>Ismael Burciaga</h2>
			<h3>director of ux at Nasdaq</h3>
		</div>
		<div class="panel speaker-panel last">
			<div class="speaker-image relative">
				<div class="speaker-links">
					<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
					<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
				</div>
				<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
			</div>
			<h2>Ismael Burciaga</h2>
			<h3>director of ux at Nasdaq</h3>
		</div>
		<div class="push"></div>

		<div class="reverse">
			<div class="panel speaker-panel big">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel second">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-placeholder.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="push"></div>
		</div>
		
	</div>
	<div class="square-border side-right grey"></div>
</div>

<div class="panelists bg-grey pad-tb-180">
	<div class="section">
		<div class="left ta-right">
			<h2 class="small-titles">Panel I</h2>
			<div class="quote ta-right marg-t-180">
				<h2>Sweat the small stuff. Care about the small details in design.</h2>
				<h3 class="small">– joshua sortino,<br /><span>head of design Pivotus Ventures<br />#squares2016</span></h3>
			</div>
		</div>
		<div class="right">
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="push"></div>
		</div>
		<div class="push"></div>
	</div>
</div>


<div class="panelists bg-white pad-tb-180">
	<div class="section">
		<div class="left ta-right">
			<h2 class="small-titles">Panel II</h2>
			<div class="quote ta-right marg-t-180">
				<h2>Tell a story that your customer can see themselves in — that's what is powerful.</h2>
				<h3 class="small">– chris lema,<br /><span>cto &amp; chief strategist at Crowd Favorite<br />#squares2016</span></h3>
			</div>
		</div>
		<div class="right">
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="panel speaker-panel last">
				<div class="speaker-image relative">
					<div class="speaker-links">
						<a href="http://marykatemcdevitt.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
						<a href="http://twitter.com/marykatemcd" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
					</div>
					<img src="http://squaresconference.com/2017/images/speaker-red.jpg" alt="Speaker Name" class="avatar" />
				</div>
				<h2>Ismael Burciaga</h2>
				<h3>director of ux at Nasdaq</h3>
			</div>
			<div class="push"></div>
		</div>
		<div class="push"></div>
	</div>
</div>

<div class="double relative height-reset">
	<div class="left bg-image relative">
		<h5 class="corner-name ta-right">Dave Onkels<br/><span>Squares Emcee</span></h5>
		<div class="speaker-image relative">
			<div class="speaker-links">
				<a href="http://ovenbits.com" target="_blank" class="btn_website"><img src="http://squaresconference.com/2017/images/icon-website.png" alt="Website" /></a>
				<a href="http://twitter.com/daveonkels" target="_blank" class="btn_twitter"><img src="http://squaresconference.com/2017/images/icon-twitter.png" alt="Twitter" /></a>
			</div>
			<img src="http://squaresconference.com/2017/images/dave-onkels.jpg" alt="Dave Onkels" class="avatar" />
		</div>
	</div>
	<div class="right relative">
		<h6 class="rotate-right">Photo by Cory Hale</h6>
		<img src="http://squaresconference.com/2017/images/crowd-1.jpg" alt="Squares Crowd" />
	</div>
	<div class="push"></div>
</div>