---
layout: default
---

<div class="section pad-t-120 pad-b-140">
	<div class="venue-wrap">
		<div class="left ta-right">
			<h1>palace<br>arts center</h1>
		</div>
		<div class="right">
			<h2>300 S. Main St<br>Grapevine, TX 76051</h2>
			<p>Located just minutes away from Dallas Fort Worth International Airport in the heart of Historic Downtown Grapevine, you'll find the beautifully restored historic Palace Arts Center.</p>
			<p><a href="/city-guide" class="small-titles">→ View the city guide</a>
		</div>
		<div class="push"></div>
	</div>
</div>


<div class="triple">
	<img src="{{ site.url }}/assets/images/venue-1.jpg" alt="Squares Venue Pic" />
	<img src="{{ site.url }}/assets/images/venue-2.jpg" alt="Squares Venue Pic" />
	<img src="{{ site.url }}/assets/images/venue-3.jpg" alt="Squares Venue Pic" />
</div>

<div class="section pad-tb-180">
	<div class="quote ta-right right">
		<h2>When hiring, look for people who compliment your team's skills.</h2>
		<h3 class="small">– michael desouza,<br /><span>at Invision<br />#squares2016</span></h3>
	</div>
	<div class="recap-wrap right marg-t-140 marg-r-80">
		<h3>2016 Recap</h3>
		<a href="https://vimeo.com/168680241" class="popup-video"><img src="{{ site.url }}/assets/images/btn-play.png" alt="Play 2016 Recap Video" /></a>
	</div>
	<div class="push"></div>
</div>

<div class="double relative">
	<div class="left bg-image relative" style="background-image: url({{ site.url }}/assets/images/bg-parties.jpg);">
		<h6 class="rotate bbb">Photo by Smilebooth</h6>
	</div>
	<div class="right relative">
		<h2 class="small-titles red rotate-right up">Parties</h2>
		<div class="absolute bs pad-120">
			{% for party_name in page['Venue Parties'] %}
				{% assign last = forloop.last %}
				{% for party in site.parties | where: "title", party_name %}
					<div class="parties">
						<h2>Opening Mixer</h2>
						<h3 class="small-titles">Wednesday, April 26th - 7 pm</h3>
						<p>Back Porch Tavern &amp; Grill<br />210 N. Main Street<br />Grapevine, TX 76501</p>
					</div>
					{% if last == false %}
					<hr class="marg-b-40 marg-t-40 divider ta-left" />
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
	<div class="push"></div>
</div>